*{
  padding: 0;
  margin: 0;
  font-family: Inter,sans-serif;
  background-color: #161616;
  color: #ffff;
}

.main-wrapper{
  width: 100%;
  display: flex;
}

.Navbar{
  position: fixed;
  height: 70px;
  padding: 20px 20px 0 20px;
  /* padding: 30px 0 0 220px; */
  display:flex;
  width: 80%;
}
.games-title{
  height: 40px;
  margin-left: 16px;
}
.games-title:hover{
  cursor: pointer;
}
.searchForm{
  width: 70%;
  display: flex;
  height: max-content;
}
.home-btn{
  background-color:inherit;
  border: none;
  margin-left: 20px;
}
.Search-bar{
  background-color: #3B3B3B;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-left: 20px;
  height: 28px;
  width:100%;
  border: none;
  border-radius: 20px;
  padding: 5px 0 5px 14px;
}
.body-section{
  position: relative;
  margin-left: 19%;
  width: 80%;
}
/* .main-section{
  position: relative;
  width:10%;
} */

.side-panel{
  width:max-content;
  height: 100%;
  padding: 15px 10px 15px 15px;
  position: fixed;
  /* padding-left: 30px;
  padding-top: 7px; */
  /* overflow-y:scroll; */
  z-index: 1;
  /* top:7.5ch; */
  /* bottom:0; */
}
.box{
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
  /* margin-bottom: 20px; */
}
.box >h1{
  /* margin-bottom: 17px;
  margin-top: 17px; */
  margin-bottom: 20px;
  font-size: x-large;
  /* position: fixed; */
  /* top:2.5ch;
  left:2ch; */
  
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* ::-webkit-scrollbar-track-piece{

} */


.genre{
  display: flex;
  height: 10vh;
  font-size: 14px;
  margin-top: 10px;
}
.genre >div{
  color: #d6d6ce !important;
}
.genre:hover{
  cursor: pointer;
  text-decoration: underline;
}
.selected-genre{
  color:#ffff;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
}

.genre>img{
  height: 30px;
  width: 32px;
  border-radius: 6px;
  margin-right: 8px;
}
.genre>div{
  vertical-align: middle;
  padding-top: 4.5px;
}

.content{
  width: 100%;
  margin-top: 110px;
}
.content-top{
  /* margin-left: 258px; */
  margin-left: 20px;
  margin-bottom: 30px;
  color: #D7D7D4;
  display: flex;
  /* position: fixed; */
}
ul{
  width:110px;
  background-color: #212120;
  list-style-type: none;
  font-size: 14px;
  margin-top: 6px;
  /* padding: 6px; */
  border-radius: 5px;
  overflow: hidden;
}
li{
  background-color: inherit;
  padding:5px;
  vertical-align:middle;
  margin-left:7px;
  margin-right:7px;
  margin-top: 7px !important;
  /* border-radius: 5px; */
  overflow: hidden;
}
li:hover{
  background-color:#3B3B3B;
  cursor: pointer;
}
.enable{
  display: block;
  position: absolute;
  border-radius: 5px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
  transform: scaleY(1);
  transform-origin: top;
}
.sort{
  margin-left: 20px;
}
.sort>button{
  display: flex;
  align-items: center;
  background-color: #313030;
  padding: 10px;
  border: none;
  width:max-content;
  text-align: left;
  border-radius: 4px;
  font-size: 14px;
}
.sort-list{
  position: absolute;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  overflow: hidden;
}
.platforms>button{
  display: flex;
  align-items: center;
  background-color: #313030;
  padding: 10px;
  border: none;
  width:max-content;
  text-align: left;
  border-radius: 4px;
  font-size: 14px;
}
.platforms-list{
  position: absolute;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  overflow: hidden;
}
#platforms-list{
  width:150px
}
#sort-list{
  width:170px;
}
button:hover{
  cursor: pointer;
}
.games-panel{
  /* margin-left: 232px; */
    width:100%;
  /* border: solid 2px ; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skeleton-wrapper{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.game-card{
  height: 20em;
  width:30%;
  min-width: 300px;

  /* margin-right: 20px; */
  margin-bottom: 10px;
  font-weight: bold;
  background-color: #202020;
  border-radius: 8px;
}

.skeleton-card{
  height: 20em;
  width:30%;
  min-width: 300px;
  
  margin-right: 20px;
  margin-bottom: 10px;
  background-color: #202020;
  border-radius: 10px;
  overflow: hidden;
  }
  
.card{
    background-color: #202020 !important;
    width:100%;
    height: 100%;
}
.card-body{
  background-color: #202020;
  padding: 0 !important;
  width:100%;
  height:100%;
}
.card-body>p{
  background-color: inherit;
}
.placeholder-glow{
  opacity:.7;
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  0%{
    background-color: hsl(203, 6%, 25%);
  }
  100%{
    background-color: hsl(196, 7%, 60%);
  }
}
.game-card > img{
  height: 60%;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/* .game-details>p{
  background-color: #202020;
  border: solid thin white;
  margin: 0 auto;
  width: max-content;
  padding: 2px;
  font-size: small;
} */
.game-details{
  background-color: #202020;
}
.green{
  background-color: #202020;
  margin: 0 auto;
  width: max-content;
  padding: 2px;
  font-size: small;
  border: solid thin green;
  color: green;
  border-radius: 3px;
}
.yellow{
  background-color: #202020;
  margin: 0 auto;
  width: max-content;
  padding: 2px;
  font-size: small;
  border: solid thin rgb(233, 233, 120);
  color: rgb(216, 216, 94);
  border-radius: 3px;
}
.red{
  background-color: #202020;
  margin: 0 auto;
  width: max-content;
  padding: 2px;
  font-size: small;
  border: solid thin rgb(228, 92, 92);
  color: rgb(228, 92, 92);
  border-radius: 3px;
}
.game-details > h3{
  background-color: #202020;
}

@media screen and (max-width: 830px){
  .side-panel{
    margin-top: 70px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateX(-100%);
    opacity: 0;
    /* background-color: transparent; */
  }
  .side-panel * {
    /* transition: background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out; */
    /* background-color: transparent;
    backdrop-filter: blur(50px); */
  }
  .games-title{
    display: none;
  }
  .searchForm{
    margin-left: 90px;
  }
  .box > h1{
    display: none;
  }
  .nav-btn{
    position: fixed;
    z-index: 1;
    padding: 20px ;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.8rem; 
    height: 20px;
  }
   .visible{
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateX(0);
    opacity: 1;
    /* transition: 1s; */
   }
   
   .body-section{
    margin-left: 0;
    width: 100%;
   }
   
   /* .searchForm{
    width: 70%;
   } */
   .Navbar{
    width: 100%
   }
   .content-top{
    display: flex;
    justify-content: center;
   }
}

@media screen and (max-width: 560px){
  .Search-bar{
    margin-left: 0;
    width: 80%;
  }
}